*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	background-color: #131312;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
}

header{
	width: 85%;
	height: 95%;
	border: 1px solid #fff;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

header .menu_side, .song_side{
	position: relative;
	width: 25%;
	height: 90%;
	/* border: 1px solid #fff; */
	background-color: #111727;
	box-shadow: 5px 0 2px #090f1f;
	color: #fff;
}

header .song_side{
	width: 75%;
	background: #0b1320;
}

header .master_play{
	width: 100%;
	height: 10%;
	background: #111727;
	box-shadow: 0 3px 8px #090f1f;
}

header .menu_side h1{
	font-size: 20px;
	margin: 15px 0 0 20px;
	font-weight: 500;
}

header .menu_side .playlist{
	margin: 40px 0 0 20px;
}

header .menu_side .playlist h4{
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 10px;
	color: #4c5262;
	transition: .3 linear;
	display: flex;
	align-items: center;
}

header .menu_side .playlist h4:hover{
	color:  #fff;
}

header .menu_side .playlist h4 span{
	position: relative;
	margin-right: 35px;
}

header .menu_side .playlist h4 span::before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	border: 2px solid #4c5262;
	border-radius: 50%;
	top: -4px;
	transition: .3s linear;
}

header .menu_side .playlist h4:hover span::before{
	border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi{
	display: none;
}

header .menu_side .playlist .active{
	color: #36e2ec;
}

header .menu_side .playlist .active span{
	display: none;
}

header .menu_side .playlist .active .bi{
	display: flex;
	margin-right: 20px;
}

header .menu_side .menu_song{
	width: 100%;
	height: 300px;
	/* border: 1px solid #fff; */
	margin-top: 40px;
}

header .menu_side .menu_song li{
	list-style-type: none;
	padding: 5px 0 5px 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 10px;
	cursor: pointer;
	transition: .3s linear;
}

header .menu_side .menu_song li:hover{
	background: rgb(105, 105, 170,.1);
}

header .menu_side .menu_song li span{
	font-size: 12px;
	font-weight: 600;
	color: #4c5262;
}

header .menu_side .menu_song li img{
	width: 32px;
	height: 32px;
	margin-left: 25px;
	object-fit: cover;
}

header .menu_side .menu_song li h5{
	font-size: 11px;
	margin-left: 15px;
}

header .menu_side .menu_song li .subtitle{
	font-size: 9px;
	color: #4c5262;
}

header .menu_side .menu_song li .bi{
	position: absolute;
	right: 15px;
	top: 6px;
	font-size: 16px;
}

header .master_play{
	display: flex;
	align-items: center;
	padding: 0 20px;
}

header .master_play .wave{
	width: 30px;
	height: 30px;
	/* border: 1px solid #fff; */
	padding-bottom: 5px;
	display: flex;
	align-items: flex-end;
	margin-right: 10px;
}

header .master_play .wave .wave1{
	width: 3px;	
	height: 10px;
	margin-right: 3px;
	border-radius: 10px 10px 0 0;
	background: #36e2ec;
	animation: unset;
}

header .master_play .wave .wave1:nth-child(2){
	height: 13px;
	/* animation-delay: .4s; */
}

header .master_play .wave .wave1:nth-child(3){
	height: 8px;
	/* animation-delay: .8s; */
}

/* js class wave */
header .master_play .active2 .wave1{
	animation: wave .5s linear infinite;
}

header .master_play .active2 .wave1:nth-child(2){
	animation-delay: .4s;
}

header .master_play .active2 .wave1:nth-child(3){
	animation-delay: .8s;
}

@keyframes wave {
	0%{
		height: 10px;
	}

	50%{
		height: 15px;
	}
	
	100%{
		height: 10px;
	}
}


header .master_play img{
	width: 35px;
	height: 35px;
}

header .master_play h5{
	width: 130px;
	font-size: 13px;
	margin-left: 15px;
	color: #fff;
	line-height: 17px;
}

header .master_play h5 .subtitle{
	font-size: 11px;
	color: #4c5262;
}

header .master_play .icon{
	font-size: 20px;
	color: #fff;
	margin: 0 20px 0 40px;
}

header .master_play .icon .bi{
	cursor: pointer;
	outline: none;
}

header .master_play .icon .bi:nth-child(2){
	border: 1 solid rgb(105, 105, 170,.1);
	border-radius: 50%;
	padding: 1px 3px 0 6px;
	margin: 0 5px;
	transition: .3s linear;
}






